{% extends 'Blog/main.html' %}
    {% block main_section %}
<h2 align="center">Contact</h2>
       {% endblock main_section %}

{% block new_section %}
   <h3><b>Доброшрифт</b></h3>
            <img src="https://habrastorage.org/getpro/habr/post_images/92f/75e/101/92f75e101123501119bab174b4cc5168.png" class="img-thumbnail mb-1">
            <p>То, что одним даётся легко и даром, для других может быть настоящей проблемой — такие мысли вызывает каждая буква шрифта «Доброшрифт», который был разработан ко всемирному дню ДЦП при участии детей с этим диагнозом. Мы решили принять участие в этой благотворительной акции и до конца дня поменяли логотип сайта.
            </p>
            <a href="https://habr.com/ru/company/habr/blog/469811/" target="_blank">
                <button class="btn btn-warning">See</button>
            </a>

            <h3><b>Я мотоцикл покупал, чтобы ездить, а не чтобы падать</b></h3>
            <img src="https://habrastorage.org/webt/5d/rj/vx/5drjvxlj3_xy93qbainej97xaky.png" class="img-thumbnail mb-1">
            <p>Эта статья не совсем в формате Хабра, но, наблюдая какими темпами растет количество двухколесных на улицах столицы, в том числе и среди ИТ-шников, я всё же рискну — может это спасёт несколько жизней, что не так уж и плохо.
            </p>
            <a href="https://habr.com/ru/post/469521/" target="_blank">
                <button class="btn btn-warning">See</button>
            </a>
{% endblock new_section %}